## LEC 1
# Topic: Python basics
# Goal: Understand variables, conditions, and loops

In [ ]:
print("Hello, Data Analysis")

Hello, Data Analysis

In [ ]:
age = 20
name = "Ak"
marks = 85.5
is_pass = True

print(age, type(age))
print(name, type(name))
print(marks, type(marks))
print(is_pass, type(is_pass))

20 <class 'int'>
Ak <class 'str'>
85.5 <class 'float'>
True <class 'bool'>

In [ ]:
age = 20
name = "Ak"
marks = 85.5
is_pass = True

print(age, type(age))
print(name, type(name))
print(marks, type(marks))
print(is_pass, type(is_pass))

20 <class 'int'>
Ak <class 'str'>
85.5 <class 'float'>
True <class 'bool'>

In [ ]:
3+True#true=1 and false=0

4

In [ ]:
nothing=None
type(nothing)

NoneType

In [ ]:
a = 10
b = 3

print(a + b)
print(a - b)
print(a * b)
print(a / b)

13
7
30
3.3333333333333335

# Data Type

 Data type batata hai data ka nature kya hai
 Example: number, text, collection

In [ ]:
# String = text data

name = "Ankit"
city = 'Delhi'

print(name)
print(type(name))
print(city)
print(type(city))

Ankit
<class 'str'>
Delhi
<class 'str'>

In [ ]:
text = "python"

print(text[0])     # p
print(text[-1])    # n
print(text[0:3])   # pyt

p
n
pyt

In [ ]:
msg = " data analysis "

print(msg.upper())
print(msg.lower())
print(msg.strip())
print(msg.replace("data", "python"))
print(msg.split())

 DATA ANALYSIS
 data analysis
data analysis
 python analysis
['data', 'analysis']

In [ ]:
word = "Python123"

print(word.isalpha())
print(word.isdigit())
print(word.isalnum())

False
False
True

In [ ]:
# Integer = whole number
# Float = decimal number

age = 20
price = 99.75

print(age, type(age))
print(price, type(price))

20 <class 'int'>
99.75 <class 'float'>

In [ ]:
# Boolean = True or False

is_student = True
passed = False

print(is_student, type(is_student))
print(passed, type(passed))

True <class 'bool'>
False <class 'bool'>

Use.
• Conditions
• Decision making

In [ ]:
# List = ordered, changeable collection

marks = [70, 80, 90]
fruits = ["apple", "banana", "mango"]

print(marks)
print(type(marks))

marks[0] = 75
print(marks)

[70, 80, 90]
<class 'list'>
[75, 80, 90]

In [ ]:
nums = [10, 20, 30]
print(nums)
print(type(nums))

[10, 20, 30]
<class 'list'>

In [ ]:
print(nums[0])
print(nums[1:])

10
[20, 30]

In [ ]:
nums.append(40)
nums.insert(1, 15)
nums.extend([50, 60])

print(nums)

[10, 15, 20, 30, 40, 50, 60]

In [ ]:
nums.remove(20)
popped = nums.pop()
print(nums)
print(popped)

[10, 15, 30, 40, 50]
60

In [ ]:
nums.sort()
nums.reverse()
print(nums)

print(len(nums))
print(nums.count(30))

[50, 40, 30, 15, 10]
5
1

Key points.
• Index based
• Mutable
• Most used in data analysis

In [ ]:
# Tuple = ordered, NOT changeable

dimensions = (1920, 1080)

print(dimensions)
print(type(dimensions))

(1920, 1080)
<class 'tuple'>

In [ ]:
points = (10, 20, 30)
print(points)
print(type(points))

(10, 20, 30)
<class 'tuple'>

In [ ]:
print(points.count(20))
print(points.index(30))

1
2

Key points.
• Immutable
• Fixed data

In [ ]:
# Set = unordered, unique values

numbers = {1, 2, 3, 3, 2}

print(numbers)
print(type(numbers))

{1, 2, 3}
<class 'set'>

In [ ]:
values = {1, 2, 3, 3, 2}
print(values)
print(type(values))

{1, 2, 3}
<class 'set'>

In [ ]:
values.add(4)
values.remove(2)
print(values)

{1, 3, 4}

In [ ]:
a = {1, 2, 3}
b = {3, 4, 5}

print(a.union(b))
print(a.intersection(b))
print(a.difference(b))

{1, 2, 3, 4, 5}
{3}
{1, 2}

Key points.
• Duplicate allowed nahi
• Order fixed nahi

In [ ]:
# Dictionary = key value pair

student = {
    "name": "Ankit",
    "age": 20,
    "marks": 85
}

print(student)
print(type(student))
print(student["name"])

{'name': 'Ankit', 'age': 20, 'marks': 85}
<class 'dict'>
Ankit

In [ ]:
print(student["name"])

student["marks"] = 90
student["city"] = "Delhi"
print(student)

Ankit
{'name': 'Ankit', 'age': 20, 'marks': 90, 'city': 'Delhi'}

In [ ]:
print(student.keys())
print(student.values())
print(student.items())

dict_keys(['name', 'age', 'marks', 'city'])
dict_values(['Ankit', 20, 90, 'Delhi'])
dict_items([('name', 'Ankit'), ('age', 20), ('marks', 90), ('city', 'Delhi')])

Key points.
• Fast access
• Real-world data structure
• Data analysis me common

In [ ]:
student.pop("age")
print(student)

{'name': 'Ankit', 'marks': 90, 'city': 'Delhi'}

#Type casting

In [ ]:
num = "100"

print(int(num))
print(float(num))
print(str(50))

100
100.0
50

In [ ]:
# Summary
# str  -> text
# int  -> whole number
# float-> decimal
# bool -> True/False
# list -> ordered, changeable
# tuple-> ordered, fixed
# set  -> unique values
# dict -> key value data

In [ ]:
num = 15

if num > 0:
    print("Positive")
elif num < 0:
    print("Negative")
else:
    print("Zero")

Positive

In [ ]:
for i in range(1, 6):
    print(i)

1
2
3
4
5

In [ ]:
i = 1
while i <= 5:
    print(i)
    i += 1

1
2
3
4
5

In [ ]:
fruits = ["apple", "banana", "mango"]

for fruit in fruits:
    print(fruit)

apple
banana
mango

In [ ]:
numbers = [10, 25, 40, 55]

for n in numbers:
    if n % 2 == 0:
        print(n, "Even")
    else:
        print(n, "Odd")

10 Even
25 Odd
40 Even
55 Odd

# What I learned today
 1. How to write and run Python code
 2. How variables store data
 3. How if-else works
 4. How loops repeat tasks

# Notes
Python is case sensitive
 Indentation is important
 Colab runs code cell by cell

In [ ]:
marks = 65

if marks >= 40:
    print("Pass")
else:
    print("Fail")

Pass

#Mini Task

In [ ]:
# Create a list of student dictionaries
students = [
    {"name": "A", "marks": 70},
    {"name": "B", "marks": 85},
    {"name": "C", "marks": 40}
]

for s in students:
    if s["marks"] >= 40:
        print(s["name"], "Pass")
    else:
        print(s["name"], "Fail")

A Pass
B Pass
C Pass

In [ ]:
line="*"
max_length=10

while len(line)<=max_length:
  print(line)
  line+="*"
while len(line)>0:
  print(line)
  line=line[0:-1]

*
**
***
****
*****
******
*******
********
*********
**********
***********
**********
*********
********
*******
******
*****
****
***
**
*

In [ ]:
print("LEC 1 completed")

LEC 1 completed